@model CreateMessageDto
<style>
    /* Butonun eski şık halini geri getiren CSS */
    .btn-send-message {
        background: #ce1212;
        border: 0;
        padding: 12px 40px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 600;
        display: inline-block;
    }

    .btn-send-message:hover {
        background: #ec2727 !important;
        color: #fff;
        box-shadow: 0 8px 15px rgba(236, 39, 39, 0.3);
    }
</style>
<form asp-action="SendMessage" method="post" asp-controller="Message" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text"  asp-for="NameSurname"class="form-control" placeholder="Adınız Soyadınız" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email Adresiniz" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" asp-for="Subject" placeholder="Konu" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" asp-for="MessageDetails" rows="6" placeholder="Mesajınız" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">          
            <button type="submit" class="btn-send-message">Send Message</button>
        </div>

    </div>
</form><!-- End Contact Form -->
